body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.slider-slogan {
  font-family: "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
}

.filter-title {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
} 

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.outside-container {
  width: 1200px;
  margin: 0 auto;
}

.inside-container {
  padding: 0 60px;
}

.main-header{
  height: 140px;
  /*height: 300px;*/
  margin: 0 20px;
  margin-top: 40px;
}

.index-logo {
  width: 164px;
  height: 35px;
  margin-bottom: 5px;
}

.search {
  float: left;
  width: 240px;
  height: 30px;
  padding-right: 260px;
  margin-bottom: 45px;
}

.user-block {
  float: left;
  width: 100px;
  height: 30px;
  padding-left: 40px;
  padding-right: 160px;
  margin-bottom: 45px;
}

.items-block { 
  float: right;
  width: 220px;
  height: 30px;
  padding-left: 20px;
  margin-bottom: 45px;
}
.catalog {
  float: left;
  width: 300px;
  height: 25px;
}

.catalog-menu {
  display: none;
  position: absolute;
  width: 100%; 
}

.catalog-menu-video {
  float: left;
  width: 200px;
  margin-right: 40px;
}

.catalog-menu-devise {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.catalog-menu-techniks {
  float: left;
  width: 160px;
}

.main-navigation {
  float: right;
  width: 500px;
  height: 25px;
}

.slider {
  height: 540px;
  margin: 0 20px;
  margin-bottom: 100px;
}

.slider-image {
  float: left;
  width: 384px;
  height: 486px;
  margin-top: 40px;
  margin-left: 90px;
}

.slider-slogan {
  float: right;
  width: 400px;
  height: 110px;
  margin-top: 130px;
  margin-right: 160px;
  margin-bottom: 25px;
}

.slider-description {
  float: right;
  width: 500px;
  height: 50px;
  margin-right: 60px;
  margin-bottom: 50px;
}

.slider-nav {
  float: right;
  width: 500px;
  height: 25px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.characteristics {
  float: right;
  width: 460px;
  height: 75px;
  margin-right: 100px;
}

.characteristics-lenght {
  float: left;
  width: 100px;
  height: 70px;
  margin-right: 60px;
}

.characteristics-weight {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 75px;
}

.characteristics-material {
  float: left;
  width: 160px;
  height: 70px;
}

.catalog-list {
  float: left;
  height: 245px;
  margin: 0 20px;
  margin-bottom: 180px;
}

.catalog-list-item {
  float: left;
  width: 160px;
  height: 160px;
  margin-right: 40px;
}

.catalog-list-item:last-child {
  float: right;
  width: 160px;
  height: 160px;
  margin-right: 0px;
}

.full-container {
  width: 100%;
  margin-bottom: 95px;
}

.second-nav {
  width: 1160px;
  height: 290px;
  margin: 0 auto;
}

.second-nav-menu {
  float: left;
  width: 300px;
  height: 100%;
}

.second-nav-content {
  float: right;
  width: 720px;
  height: 180px;
  margin-right: 60px;
}

.partners {
  margin: 0 20px;
  margin-bottom: 90px;
}

.partners-logo {
  width: 260px;
  height: 100px;
  float: left;
  margin-right: 40px;
}

.partners-logo:last-child {
  float: right;
  margin-right: 0;
}

.company {
  width: 1160px;
  height: 580px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.company-about {
  float: left;
  width: 500px;
  height: 100%;
}

.company-contacts {
  float: right;
  width: 580px;
  height: 100%;
}

.main-footer {
  margin-top: 0px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.footer-logo {
  float: left;
  width: 164px;
  height: 35px;
  margin-top: 65px;
  margin-right: 600px;
}

.footer-user-block {
  float: left;
  width: 120px;
  height: 30px;
  margin-top: 65px;
}

.footer-items-block {
  float: right;
  width: 220px;
  height: 30px;
  margin-top: 65px;
  margin-bottom: 35px;
}

.footer-address {
  float: left;
  width: 260px;
  height: 30px;
  margin-right: 100px;
}

.footer-navigation {
  float: left;
  width: 440px;
  height: 30px;
  margin-right: 160px;
  margin-bottom: 60px;
}
.footer-phone {
  float: right;
  width: 200px;
  height: 30px;
  margin-bottom: 60px;
}

.footer-social {
  float: left;
  width: 240px;
  height: 50px;
  margin-left: 500px;
}

.footer-small-logo {
  float: right;
  width: 60px;
  height: 40px;
}

.write-us {
  display: none;
  position: absolute;
  width: 760px;
  height: 455px;
  margin-right: 120px;
  margin-left: 120px;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
}

.write-us-name {
  float: left;
  width: 360px;
  height: 90px;
  margin-right: 40px;
  margin-bottom: 35px;
}

.write-us-email {
  float: left;
  width: 360px;
  height: 90px;
  margin-bottom: 35px;
}

.write-us-body {
  float: left;
  width: 760px;
  height: 185px;
  margin-bottom: 35px;
}

.write-us-submit {
  float: left;
  width: 200px;
  height: 20px;
}

.big-map {
  display: none;
  position: absolute;
  margin-left: 120px;
  margin-right: 120px;
  width: 960px;
  height: 560px;
}

body {
  padding: 3px;

}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
