body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.slider-slogan {
  font-family: "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
}

.filter-title {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  color: #000000;
} 
